@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

h1 {font-size: 1.7em;}
h2 {font-size: 1.3em;}


body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 12px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(197, 219, 225, 0.25);
  height: 25px;
  color: #242B67;
  font-size: 8px;
  padding: 0.3em;
  text-align: center;

}

.phoneIcon{
  width: 1.5em;
  height: 1.5em;
  padding: 0.8em 1em 1em 1em;
  color: #242B67;
}
.menuIcon{
  width: 2.5em;
  height: 2em;
  padding: 0.6em 1em 1em 10em;
  color: #242B67;
}



/*
.header .phoneIcon{
  padding: 1em;
  width: 1.1em;
  height: 1.1em;
  color: #242B67;
}
.header .menuIcon{
  padding: 0.5em;
  width: 2em;
  height: 2em;
  color: #242B67;
}

.header .left{
  padding: 0;
  display: grid;
}

.header .middle{
  padding-left: 0;
  display: grid;
}

.header .right{
  display: grid;
}*/

/* Inhaltsblock 1*/
.container .start-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2.1em;    /* Abstand Inhaltsblock - Button - neuer Inhaltsblock */
}

.container .start-container .logo {
  width: 8em;
  height: 10em;
  padding: 0.5em;
}

.container .start-container h1 {
  color: #242B67;
  padding: 0.1em;
}

.container .start-container p {
  padding: 0.3em;
  text-align: center;
  color: #242B67;
  line-height: 1.2rem;
  
}

.container button {
width: calc(100% - 2em);
margin: 0;
background: #742748;
color: white;
border-radius: 10px;
border: none;
padding: 0.5em;
font-size: 13px;
}


/* Inhaltsblock 2*/
.container .bservice-container {
  padding: 0.3em;
  padding-top: 2.1em;
  padding-bottom: 2.1em;
  background-color: rgba(197, 219, 225, 0.25);
  text-align: center;
  
}

.container .bservice-container .bserviceBild {
  width: 8em;
  height: 10em;
}

.container .bservice-container h2 {
  color: #242B67;
  margin: 1em 0;
}

.container .bservice-container p {
  padding: 0.7em;
  text-align: left;
  color: #242B67;
  line-height: 1.2rem;
}

.container .bservice-container li {
  padding: 0.7em;
  text-align: left;
  color: #242B67;
  line-height: 0.7em;
}


/* Inhaltsblock 3*/
.container .tservice-container {
  padding: 0.3em;
  padding-top: 2.1em;
  padding-bottom: 2.1em;
  text-align: center;
}

.container .tservice-container .tserviceBild {
  width: 8em;
  height: 10em;
}

.container .tservice-container h2 {
  color: #242B67;
  margin: 1em 0;
}

.container .tservice-container p {
  padding: 0.7em;
  padding-bottom: 0.9em;
  text-align: left;
  color: #242B67;
  line-height: 1.2rem;
}


/* Inhaltsblock 4*/
.container .tplanung-container {
  padding: 0.3em;
  padding-top: 2.1em;
  padding-bottom: 2.1em;
  text-align: center;
  background-color: rgba(197, 219, 225, 0.25);
}

.container .tplanung-container .tplanungBild {
  width: 8em;
  height: 10em;
}

.container .tplanung-container h2 {
  color: #242B67;
  margin: 1em 0;
}

.container .tplanung-container p {
  padding: 0.7em;
  text-align: left;
  color: #242B67;
  line-height: 1.2rem;
}


/* Inhaltsblock 5*/
.container .CTA-container {
  padding: 0.3em;
  padding-top: 2.1em;
  padding-bottom: 2.1em;
  color: #242B67;
  text-align: center;
}


@media(min-width: )
/*# sourceMappingURL=main.css.map */